/* 
CSS File Structure:
 - Design System
*/

/* Design System */
:root {
  --gray-blue: #666CA3;
  --dark-blue: #13183F;
  --gray: #83869A;
  --dark-pink: #F74780;
  --light-pink: #FFA7C3;
  --white: #FFFFFF;
  --pink-gradient: linear-gradient(#F02AA6, #FF6F48);
  --purple-gradient: linear-gradient(#4851FF, #F02AA6);
}

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
}

h1 {
  font-size: 3.5rem;
  line-height: 4.37rem;
  margin-bottom: 1.75rem;
  color: var(--dark-blue);
}

h2 {
  font-size: 2.5rem;
  line-height: 3.19rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

p.med {
  font-size: 1.13rem;
  line-height: 1.75rem;
  color: var(--gray);
}

p.sm {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--dark-pink);
  font-size: 1.13rem;
  line-height: 1.75rem;
}

a:hover {
  color: var(--light-pink);
}

.button {
  font-weight: 700;
  font-size: 1.13rem;
  line-height: 1.75rem;
  color: var(--white);
  border: none;
  background: none;
  padding-block: 0.88rem;
  padding-inline: 2rem;
  cursor: pointer;
  border-radius: 1.75rem;
  min-width: 9.75rem;
}

.b1 {
  background-color: var(--dark-blue);
}

.b1:hover {
  background-color: var(--gray-blue);
}

.b2 {
  background-image: var(--pink-gradient);
}

.b3 {
  background-image: var(--purple-gradient);
}

.b2:hover,
.b3:hover {
  opacity: 0.5;
}

/* Basic Page Setup */
body {
  height: 100vh;
  width: 100vw;
}

/* Header */
header {
  height: 900px;
  background-image: url("../images/image-hero-desktop@2x.png");
  background-position-x: calc(100% + 19.25rem);
  background-position-y: -8.5rem;
  background-size: 62rem;
  background-repeat: no-repeat;
}

.header-cta {
  padding-inline: 10.3rem;
  padding-top: 1.5rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-cta img {
  max-height: 1.75rem;
}

.hero {
  padding-left: 10.3rem;
  max-width: 29rem;
}

.hero p {
  margin-bottom: 2.5rem;
  margin-right: 1rem;
}

.courses {
  padding-inline: 10.3rem;
  background-image: linear-gradient(#ffffff, #f0f1ff);
  min-height: 300px;
  border: 1px solid red;
}

.card {
  border-radius: 0.5rem;
  padding-inline: 2rem;
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  min-height: 20.13rem;
  position: relative;
}

.intro {
  color: white;
  background: var(--pink-gradient);
  padding-inline: 2rem;
  padding-top: 4rem;
}

.course {
  border: 1px solid green;
}

.course img {
  position: absolute;
  top: 0;
  left: 0;
}

.course p {
  margin-bottom: 1.5rem;
}

